html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ul {
    list-style: none;
}

button,
input,
select {
    margin: 0;
}

html {
    box-sizing: border-box;
}

html[data-window-chrome='true'],
html[data-window-chrome='true'] body {
    overflow: hidden;
}

/* 禁用页面的回弹效果 */
html, body {
    overscroll-behavior: none; /* 禁用整个页面的回弹 */
}


*, *::before, *::after {
    box-sizing: inherit;
}

img,
video {
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

li{
    list-style: none;
}

/* 选中文本 */
::selection {
    background-color: var(--selection-bg) !important;
    color: var(--selection-text) !important;
}
